#Mistral
MISTRAL_API_KEY=tmVoBBT6F0zVvuEcXwtMBhSr2tcbudF4

#Telegram
TELEGRAM_BOT_TOKEN=8670038094:AAFn3s7wpYVkHQlc7Jq2hhMrV_ELpH2_TQg
TELEGRAM_CHAT_ID=8623972606

# Signal DB (default: data/signals.db)
SIGNAL_DB_PATH=data/signals.db